@use "../style/helper/breakpoints" as vars;

.advantages {
  margin-top: 52px;
  height: 621px;

  @media screen and (min-width: vars.$breakpoint-tablet) {
    margin-top: 80px;
  }

  @media screen and (min-width: vars.$breakpoint-desktop) {
    display: block;
    margin-inline: auto;
  }
}

.advantages-title {
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  text-align: center;

  @media screen and (min-width: vars.$breakpoint-tablet) {
    font-size: 52px;
  }

  @media screen and (min-width: vars.$breakpoint-desktop) {
    font-size: 68px;
  }
}

.cont-advantages {
  position: relative;

  margin-top: 115px;
  @media screen and (min-width: vars.$breakpoint-tablet) {
    margin-top: 120px;
  }

  @media screen and (min-width: vars.$breakpoint-desktop) {
    margin-top: 140px;
  }
}

.foto {
  position: absolute;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 315px;
  height: 554px;

  @media screen and (min-width: vars.$breakpoint-tablet) {
    width: 354px;
    height: 441px;
  }

  @media screen and (min-width: vars.$breakpoint-desktop) {
    width: 377px;
    height: 558px;
  }
}

.foto-mob {
  bottom: -105px;
  right: -2px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2)),
    image-set(
      url(../../public/advantages/Advantages_mob_x1-min.jpg) 1x,
      url(../../public/advantages/Advantages_mob_x2-min.jpg) 2x
    );

  @media screen and (min-width: vars.$breakpoint-tablet) {
    bottom: -117px;
    right: 0px;
  }

  @media screen and (min-width: vars.$breakpoint-desktop) {
    bottom: -78px;
    right: 0px;
  }
}
.foto-tabl {
  display: none;

  @media screen and (min-width: vars.$breakpoint-tablet) {
    display: block;
    top: -89px;
    left: 0px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2)),
      image-set(
        url(../../public/advantages/Advantages_tab-1x-min.jpg) 1x,
        url(../../public/advantages/Advantages_tab-2x-min.jpg) 2x
      );
  }

  @media screen and (min-width: vars.$breakpoint-desktop) {
    top: -48px;
    left: 0;
  }
}
.foto-desc {
  display: none;

  @media screen and (min-width: vars.$breakpoint-desktop) {
    display: block;
    height: 507px;
    top: 0;
    left: 398px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2)),
      image-set(
        url(../../public/advantages/Advantages_desc_1x-min.jpg) 1x,
        url(../../public/advantages/Advantages_desc_2x-min.jpg) 2x
      );
  }
}
.advantages-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 28px;

  @media screen and (min-width: vars.$breakpoint-tablet) {
    gap: 20px;
  }

  @media screen and (min-width: vars.$breakpoint-desktop) {
    gap: 24px;
  }
}
.advantages-item {
  display: flex;
  align-items: center;
  padding: 8px 0;
  gap: 10px;
  width: 315px;
  background-color: var(--blue-color);

  @media screen and (min-width: vars.$breakpoint-tablet) {
    width: 604px;
    padding: 12px 0;
    gap: 12px;
  }

  @media screen and (min-width: vars.$breakpoint-desktop) {
    width: 630px;
    height: 65px;
  }
}
.icon-star {
  margin-left: 30px;

  @media screen and (min-width: vars.$breakpoint-tablet) {
    margin-left: 44px;
  }

  @media screen and (min-width: vars.$breakpoint-desktop) {
    margin-left: 126px;
  }
}
.textadvantages {
  color: var(--white-color);
  font-size: 14px;

  @media screen and (min-width: vars.$breakpoint-tablet) {
    font-size: 20px;
  }

  @media screen and (min-width: vars.$breakpoint-desktop) {
    font-size: 24px;
  }
}
