@use "./helper/breakpoints" as vars;

.contact {
  background-color: var(--bg-color);
  padding-top: 40px;
  padding-bottom: 40px;

  @media screen and (min-width: vars.$breakpoint-tablet) {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  @media screen and (min-width: vars.$breakpoint-desktop) {
    padding-top: 60px;
    padding-bottom: 48px;
  }
}

.contact-container {
  @media screen and (min-width: vars.$breakpoint-tablet) {
    display: flex;
    justify-content: space-between;
  }

  @media screen and (min-width: vars.$breakpoint-desktop) {
    justify-content: space-around;
  }
}

.title-contact {
  font-size: 28px;
  color: var(--white-color);
  font-weight: 400;
  text-align: center;
  margin-bottom: 28px;

  @media screen and (min-width: vars.$breakpoint-tablet) {
    font-size: 32px;
  }

  @media screen and (min-width: vars.$breakpoint-desktop) {
    font-size: 60px;
  }
}
.list-contact {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;

  @media screen and (min-width: vars.$breakpoint-tablet) {
    margin-bottom: 40px;
    gap: 40px;
  }
}
.item-contact {
  display: flex;
  align-items: center;
  gap: 4px;
  @media screen and (min-width: vars.$breakpoint-tablet) {
    gap: 8px;
  }
}

.link-contacts {
  color: var(--white-color);
  font-style: normal;

  @media screen and (min-width: vars.$breakpoint-tablet) {
    font-size: 18px;
  }

  @media screen and (min-width: vars.$breakpoint-desktop) {
    font-size: 24px;
  }
}

.list-icons-contacts {
  display: flex;
  gap: 32px;
  align-items: center;
  margin-bottom: 40px;
}

.link-contacts-icons {
  width: 40px;
}
.LelekaSoft {
  text-align: center;
  color: var(--grey-color);
}
