@use "./helper/breakpoints" as vars;

.reviews {
  margin-top: 52px;

  @media screen and (min-width: vars.$breakpoint-tablet) {
    margin-top: 80px;
  }
}

.title-review {
  text-align: center;
  font-weight: 400;
  font-size: 32px;
  margin-bottom: 28px;

  @media screen and (min-width: vars.$breakpoint-tablet) {
    font-size: 52px;
    margin-bottom: 40px;
  }

  @media screen and (min-width: vars.$breakpoint-desktop) {
    font-size: 68px;
    margin-bottom: 70px;
  }
}
.list-review {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: stretch;

  &::-webkit-scrollbar {
    display: none; // Для Chrome, Safari, Opera
  }

  @media screen and (min-width: vars.$breakpoint-tablet) {
    flex-direction: row;
    gap: 20px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory; //доводка скролу
    margin: 0px -2px;
    margin-bottom: 24px;
  }
}
.iteam-review {
  width: 311px;

  @media screen and (min-width: vars.$breakpoint-tablet) {
    flex: 0 0 calc((100% - 40px) / 2);
  }

  @media screen and (min-width: vars.$breakpoint-desktop) {
    flex: 0 0 calc((100% - 60px) / 3);
  }
}

.reviews-foto {
  position: relative;
}

.back-graund {
  width: 311px;
  height: 134px;

  @media screen and (min-width: vars.$breakpoint-tablet) {
    width: 354px;
  }

  @media screen and (min-width: vars.$breakpoint-desktop) {
    width: 570px;
  }
}
.user-review {
  position: absolute;
  right: 50%; // Вирівнюємо по центру
  bottom: -50px;
  transform: translateX(50%);
  z-index: 2;
  width: 100px;
  height: 100px;

  @media screen and (min-width: vars.$breakpoint-desktop) {
    width: 125px;
    height: 125px;
  }
}

.block-text-review {
  padding: 70px 35px 48px;
  border: 1px solid var(--blue-color);
  border-top: none;

  @media screen and (min-width: vars.$breakpoint-desktop) {
    padding: 74px 35px 51px;
  }

  @media screen and (min-width: vars.$breakpoint-desktop) {
    padding: 83px 28px 103px;
  }
}
.name-review {
  text-align: center;
  color: var(--blue-color);
  margin-bottom: 16px;

  @media screen and (min-width: vars.$breakpoint-desktop) {
    font-size: 24px;
    margin-bottom: 24px;
  }

  @media screen and (min-width: vars.$breakpoint-desktop) {
    font-size: 28px;
  }
}

.text-review {
  line-height: 100%;

  @media screen and (min-width: vars.$breakpoint-tablet) {
    font-size: 20px;
  }
}
