@use "./breakpoints" as vars;

:root {
  --white-color: rgba(247, 251, 251, 1);
  --gray-text: #cccccc;
  --background: #0a0a0a;
  --turquoise: #87ceeb;
  --red: #cf0e48;
  --bg-color: #1a1a1a;
  --font-family-base: "Montserrat", sans-serif;
  --font-family-second: "LoremIpsum", sans-serif;
}

.container {
  max-width: 400px;
  padding: 0 32px;
  margin: 0 auto;

  @media screen and (min-width: vars.$breakpoint-tablet) {
    max-width: 768px;
    padding: 0 20px;
  }

  @media screen and (min-width: vars.$breakpoint-desktop) {
    max-width: 1200px;
    padding: 0 135px;
  }
}
