@use "./breakpoints" as vars;

:root {
  --blue-color: #5b86a1;
  --core-color: rgba(27, 29, 27, 1);
  --bg-color: rgba(32, 35, 33, 1);
  --white-color: rgba(247, 251, 251, 1);
  --grey-color: rgba(163, 165, 163, 1);
  --font-family-base: "Montserrat", sans-serif;
}

.container {
  max-width: 375px;
  padding: 0 32px;
  margin: 0 auto;

  @media screen and (min-width: vars.$breakpoint-tablet) {
    max-width: 768px;
    padding: 0 20px;
  }

  @media screen and (min-width: vars.$breakpoint-desktop) {
    max-width: 1440px;
    padding: 0 135px;
  }
}
