<section class="advantages">
  <div class="container">
    <h2 class="advantages-title">Our advantages</h2>
    <div class="cont-advantages">
      <div class="foto foto-mob"></div>
      <div class="foto foto-tabl"></div>
      <div class="foto foto-desc"></div>
      <ul class="advantages-list">
        <li class="advantages-item">
          <svg class="icon-star" width="20" height="20">
            <use href="./icon/symbol-defs.svg#icon-star_small"></use>
          </svg>
          <p class="textadvantages">author's tours</p>
        </li>
        <li class="advantages-item">
          <svg class="icon-star" width="20" height="20">
            <use href="./icon/symbol-defs.svg#icon-star_small"></use>
          </svg>
          <p class="textadvantages">іndividual approach</p>
        </li>
        <li class="advantages-item">
          <svg class="icon-star" width="20" height="20">
            <use href="./icon/symbol-defs.svg#icon-star_small"></use>
          </svg>
          <p class="textadvantages">affordable prices</p>
        </li>
        <li class="advantages-item">
          <svg class="icon-star" width="20" height="20">
            <use href="./icon/symbol-defs.svg#icon-star_small"></use>
          </svg>
          <p class="textadvantages">comfortable transfer</p>
        </li>
        <li class="advantages-item">
          <svg class="icon-star" width="20" height="20">
            <use href="./icon/symbol-defs.svg#icon-star_small"></use>
          </svg>
          <p class="textadvantages">professional guides</p>
        </li>
        <li class="advantages-item">
          <svg class="icon-star" width="20" height="20">
            <use href="./icon/symbol-defs.svg#icon-star_small"></use>
          </svg>
          <p class="textadvantages">accommodation in hotels from 3+ *</p>
        </li>
      </ul>
    </div>
  </div>
</section>
