<section id="contact" class="contact">
  <div class="contact-container container">
    <h2 class="title-contact">Contact</h2>
    <address>
      <ul class="list-contact">
        <li class="item-contact">
          <svg class="icon-contact" width="32" height="32">
            <use href="./icon/symbol-defs.svg#icon-place"></use>
          </svg>
          <a
            class="link-contacts"
            href="https://www.google.com/maps/search/?api=1&query=Lviv,+st+Dorosheko,+44+k"
            target="_blank"
            >Lviv, st Dorosheko, 44 k</a
          >
        </li>
        <li class="item-contact">
          <svg class="icon-contact" width="32" height="32">
            <use href="./icon/symbol-defs.svg#icon-phone"></use>
          </svg>
          <a class="link-contacts" href="tel:+38(097)162-67-90"
            >+38 (097) 162 -67-90</a
          >
        </li>
        <li class="item-contact">
          <svg class="icon-contact" width="32" height="32">
            <use href="./icon/symbol-defs.svg#icon-email"></use>
          </svg>
          <a class="link-contacts" href="mailto:mandrykarpaty@gmail.com"
            >mandrykarpaty@gmail.com</a
          >
        </li>
      </ul>
      <ul class="list-icons-contacts">
        <li class="item-icons-contacts">
          <a
            class="link-contacts-icons"
            href="https://t.me/heroin655"
            target="_blank">
            <svg class="contact-icon" width="33" height="33">
              <use href="./icon/symbol-defs.svg#icon-telegram"></use></svg
          ></a>
        </li>
        <li class="item-icons-contacts">
          <a
            class="link-contacts-icons"
            href="https://www.instagram.com/heroin655/"
            target="_blank">
            <svg class="contact-icon" width="33" height="33">
              <use href="./icon/symbol-defs.svg#icon-instagram"></use></svg
          ></a>
        </li>
        <li class="item-icons-contacts">
          <a
            class="link-contacts-icons"
            href="https://www.facebook.com/profile.php?id=100095311908682&locale=ru_RU"
            target="_blank">
            <svg class="contact-icon" width="33" height="33">
              <use href="./icon/symbol-defs.svg#icon-facebook"></use></svg
          ></a>
        </li>
      </ul>
    </address>
  </div>
  <p class="LelekaSoft">&copy; Created by LelekaSoft</p>
</section>
