<section id="gallery" class="gallery">
  <div class="container">
    <h2 class="title-gallery">Gallery</h2>
    <ul class="list-gallery">
      <li class="item-gallery">
        <img
          srcset="
            ./image/gallery/imagecompressor/1-min.jpg    1x,
            ./image/gallery/imagecompressor/1@2x-min.jpg 2x
          "
          src="./image/gallery/imagecompressor/1-min.jpg"
          alt="CARPATHIANS"
          class="img-galery" />
      </li>
      <li class="item-gallery">
        <img
          srcset="
            ./image/gallery/imagecompressor/2-min.jpg    1x,
            ./image/gallery/imagecompressor/2@2x-min.jpg 2x
          "
          src="./image/gallery/imagecompressor/2-min.jpg"
          alt="CARPATHIANS"
          class="img-galery" />
      </li>
      <li class="item-gallery">
        <img
          srcset="
            ./image/gallery/imagecompressor/3-min.jpg    1x,
            ./image/gallery/imagecompressor/3@2x-min.jpg 2x
          "
          src="./image/gallery/imagecompressor/3-min.jpg"
          alt="CARPATHIANS"
          class="img-galery" />
      </li>
      <li class="item-gallery">
        <img
          srcset="
            ./image/gallery/imagecompressor/4-min.jpg    1x,
            ./image/gallery/imagecompressor/4@2x-min.jpg 2x
          "
          src="./image/gallery/imagecompressor/4-min.jpg"
          alt="CARPATHIANS"
          class="img-galery" />
      </li>
      <li class="item-gallery">
        <img
          srcset="
            ./image/gallery/imagecompressor/5-min.jpg    1x,
            ./image/gallery/imagecompressor/5@2x-min.jpg 2x
          "
          src="./image/gallery/imagecompressor/5-min.jpg"
          alt="CARPATHIANS"
          class="img-galery" />
      </li>
      <li class="item-gallery">
        <img
          srcset="
            ./image/gallery/imagecompressor/6-min.jpg    1x,
            ./image/gallery/imagecompressor/6@2x-min.jpg 2x
          "
          src="./image/gallery/imagecompressor/6-min.jpg"
          alt="CARPATHIANS"
          class="img-galery" />
      </li>
      <li class="item-gallery">
        <img
          srcset="
            ./image/gallery/imagecompressor/7-min.jpg    1x,
            ./image/gallery/imagecompressor/7@2x-min.jpg 2x
          "
          src="./image/gallery/imagecompressor/7-min.jpg"
          alt="CARPATHIANS"
          class="img-galery" />
      </li>
      <li class="item-gallery">
        <img
          srcset="
            ./image/gallery/imagecompressor/8-min.jpg    1x,
            ./image/gallery/imagecompressor/8@2x-min.jpg 2x
          "
          src="./image/gallery/imagecompressor/8-min.jpg"
          alt="CARPATHIANS"
          class="img-galery" />
      </li>
    </ul>
    <div class="pagination-gallery">
      <button class="btn-pagination-gallery">
        <svg class="icon-gallery" Width="11" Height="19">
          <use href="./icon/symbol-defs.svg#icon-left"></use>
        </svg>
      </button>
      <button class="btn-pagination-gallery">
        <svg class="icon-gallery" Width="11" Height="19">
          <use href="./icon/symbol-defs.svg#icon-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
