<header class="header">
  <div class="header-container container">
    <a href="/">
      <svg class="logo" width="34" height="36">
        <use href="./icon/symbol-defs.svg#icon-logo"></use>
      </svg>
    </a>
    <div class="icons-for-modal">
      <button class="burger-btn" data-micromodal-trigger="modal-1">
        <svg class="burger-icon" width="28" height="15">
          <use href="./icon/symbol-defs.svg#icon-menu"></use>
        </svg>
      </button>
      <button class="burger-close-btn" data-micromodal-close>
        <svg class="burger-icon" width="28" height="15">
          <use href="./icon/symbol-defs.svg#icon-close"></use>
        </svg>
      </button>
    </div>
    <nav class="navigation">
      <ul class="header-list">
        <li class="header-list-iteam">
          <a href="#about-us" class="header-link">About us</a>
        </li>
        <li class="header-list-iteam">
          <a href="#tours" class="header-link">Tours</a>
        </li>
        <li class="header-list-iteam">
          <a href="#reviews" class="header-link">Reviewsw</a>
        </li>
        <li class="header-list-iteam">
          <a href="#gallery" class="header-link">Gallery</a>
        </li>
        <li class="header-list-iteam">
          <a href="#contact" class="header-link">Contacts</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
