<section class="hero">
  <div class="hero-container container">
    <div class="cont-text">
      <h1 class="title-hero">TOURS TO THE CARPATHIANS FROM LVIV</h1>
      <p class="text-hero">
        Journeys to the very heart of the Carpathians for those who want a real
        reboot
      </p>
      <button class="btn-hero" data-micromodal-trigger="modal-2">
        BOOK A TOUR
      </button>
      <div class="icon-cont">
        <ul class="icon-list">
          <li class="icon-item">
            <a
              href="https://t.me/heroin655"
              class="icon-link"
              target="_blank"
              rel="noopener noreferrer">
              <svg class="contact-icon" width="33" height="33">
                <use href="./icon/symbol-defs.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="icon-item">
            <a
              href="https://www.instagram.com/heroin655/"
              class="icon-link"
              target="_blank"
              rel="noopener noreferrer">
              <svg class="contact-icon" width="33" height="33">
                <use href="./icon/symbol-defs.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="icon-item">
            <a
              href="https://www.facebook.com/profile.php?id=100095311908682&locale=ru_RU"
              class="icon-link"
              target="_blank"
              rel="noopener noreferrer">
              <svg class="contact-icon" width="33" height="33">
                <use href="./icon/symbol-defs.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
