<div class="modal-overley" data-modal>
  <div class="overley">
    <button class="btn-exit" data-modal-close>
      <svg class="exit-icon" width="24" height="24">
        <use href="/icon/icons.svg#icon-close"></use>
      </svg>
    </button>
    <div class="content-modal">
      <nav>
        <ul class="madal-list">
          <li class="modal-item"><a class="modal-link" href="">Home</a></li>
          <li class="modal-item"><a class="modal-link" href="">Review</a></li>
          <li class="modal-item"><a class="modal-link" href="">Bonus</a></li>
          <li class="modal-item">
            <a class="modal-link" href="">Spins</a>
          </li>
        </ul>
      </nav>
      <div class="auth-button">
        <a href="#" class="btn btn-login">Login</a>
        <a href="#" class="btn btn-register">Registration</a>
      </div>
    </div>
  </div>
</div>
