<div class="modal-burger micromodal-slide" id="modal-1" data-micromodal-close>
  <div class="modal__overley">
    <ul class="modal-list">
      <li class="item-modal">
        <a href="#about-us" class="modal-link">About us</a>
      </li>
      <li class="item-modal">
        <a href="#tours" class="modal-link">Тours</a>
      </li>
      <li class="item-modal">
        <a href="#reviews" class="modal-link">Reviews</a>
      </li>
      <li class="item-modal">
        <a href="#gallery" class="modal-link">Gallery</a>
      </li>
      <li class="item-modal">
        <a href="#contact" class="modal-link">Contacts</a>
      </li>
    </ul>
    <ul class="icon-modal-list">
      <li class="icon-modal-item">
        <a
          href="https://t.me/heroin655"
          class="icon-link"
          target="_blank"
          rel="noopener noreferrer">
          <svg class="contact-icon" width="33" height="33">
            <use href="./icon/symbol-defs.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
      <li class="icon-modal-item">
        <a
          href="https://www.instagram.com/heroin655/"
          class="icon-link"
          target="_blank"
          rel="noopener noreferrer">
          <svg class="contact-icon" width="33" height="33">
            <use href="./icon/symbol-defs.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="icon-modal-item">
        <a
          href="https://www.facebook.com/profile.php?id=100095311908682&locale=ru_RU"
          class="icon-link"
          target="_blank"
          rel="noopener noreferrer">
          <svg class="contact-icon" width="33" height="33">
            <use href="./icon/symbol-defs.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
