<section class="questions-form">
  <div class="questions-form-container container">
    <div class="block-form">
      <h3 class="title-questions-form">Do you have any questions?</h3>
      <p class="text-questions-form">
        You can leave your questions here and our manager will call you back
        within 10 minutes
      </p>
      <form class="form-questions" action="">
        <input
          class="input-questions"
          type="text"
          placeholder="Your name*"
          maxlength="20"
          required />
        <input
          class="input-questions"
          type="number"
          placeholder="Phone number*"
          required />
        <input
          class="input-questions"
          type="text"
          maxlength="80"
          placeholder="What would you like to know?" />

        <button class="btn-questions">CALL ME</button>
      </form>
    </div>
  </div>
</section>
