<section id="reviews" class="reviews">
  <div class="container">
    <h2 class="title-review">Reviews</h2>
    <ul class="list-review">
      <li class="iteam-review">
        <div class="reviews-foto">
          <img
            class="back-graund"
            srcset="./image/reviews/Review_desk-min.jpg"
            src="./image/reviews/Review_desk@2x-min.jpg 2x"
            alt="bg"
            width="311" />
          <img
            class="user-review"
            srcset="./image/reviews/Maria-min.png"
            src="./image/reviews/Maria@2x-min.png 2x"
            alt="Maria" />
        </div>
        <div class="block-text-review">
          <h3 class="name-review">Maria</h3>
          <p class="text-review">
            It was really cool! We saw everything - sun, snow, rain, fog! It's
            very exciting and interesting, you won't regret it - it's worth
            going and seeing everything with your own eyes. Everything is
            organized at the highest level.
          </p>
        </div>
      </li>
      <li class="iteam-review">
        <div class="reviews-foto">
          <img
            class="back-graund"
            srcset="./image/reviews/Review_desk-min.jpg"
            src="./image/reviews/Review_desk@2x-min.jpg 2x"
            alt="bg"
            width="311" />
          <img
            class="user-review"
            srcset="./image/reviews/Ostap-min.png"
            src="./image/reviews/Ostap@2x-min.png 2x"
            alt="Ostap" />
        </div>
        <div class="block-text-review">
          <h3 class="name-review">Ostap</h3>
          <p class="text-review">
            Good organization, everything went smoothly. Friendly guide Taras
            told interesting facts about the area and customs throughout the
            tour.
          </p>
        </div>
      </li>
      <li class="iteam-review">
        <div class="reviews-foto">
          <img
            class="back-graund"
            srcset="./image/reviews/Review_desk-min.jpg"
            src="./image/reviews/Review_desk@2x-min.jpg 2x"
            alt="bg"
            width="311" />
          <img
            srcset="./image/reviews/Anita-min.png"
            src="./mage/reviews/Anita@2x-min.png 2x"
            alt="nita"
            class="user-review" />
        </div>
        <div class="block-text-review">
          <h3 class="name-review">Anita</h3>
          <p class="text-review">
            Who is going to the mountains for the first time - this is exactly
            the tour and the people who organize everything. Guide Makar is
            interesting stories, selection of a route for a comfortable ascent,
            motivation and support.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
