<section id="tours" class="upcoming-tours">
  <div class="container">
    <h2 class="title-upcoming-tours">Upcoming-tours</h2>
    <ul class="list-upcoming">
      <li class="iteam-upcoming">
        <picture>
          <source
            srcset="
              ./image/tours/Carpathians_desc-min.jpg    1x,
              ./image/tours/Carpathians_desc@2x-min.jpg 2x
            "
            media="(min-width: 1440px)" />
          <source
            srcset="
              ./image/tours/Carpathians_tab-min.jpg    1x,
              ./image/tours/Carpathians_tab@2x-min.jpg 2x
            "
            media="(min-width: 768px)" />
          <source
            srcset="
              ./image/tours/Carpathians_mob-min.jpg    1x,
              ./image/tours/Carpathians_mob@2x-min.jpg 2x
            "
            media="(max-width: 767px)" />
          <img
            class="img-tours"
            src="./image/tours/Carpathians_desc@2x-min.jpg"
            alt="Carpathians" />
        </picture>
        <div class="list-text-tour">
          <h4 class="tour-name">Week in Carpathians</h4>
          <p class="price-tour">From UAH 9,999/person</p>
          <button class="btn-tour">MORE DETAILS</button>
        </div>
      </li>
      <li class="iteam-upcoming">
        <picture>
          <source
            srcset="
              ./image/tours/Bukovel_desc-min.jpg    1x,
              ./image/tours/Bukovel_desc@2x-min.jpg 2x
            "
            media="(min-width: 1440px)" />
          <source
            srcset="
              ./image/tours/Bukovel_tab-min.jpg    1x,
              ./image/tours/Bukovel_tab@2x-min.jpg 2x
            "
            media="(min-width: 768px)" />
          <source
            srcset="
              ./image/tours/Bukovel_mob-min.jpg    1x,
              ./image/tours/Bukovel_mob@2x-min.jpg 2x
            "
            media="(max-width: 767px)" />
          <img
            class="img-tours"
            src="./image/tours/Bukovel_desc@2x-min.jpg"
            alt="Bukovel" />
        </picture>
        <div class="list-text-tour">
          <h4 class="tour-name">Ski tour to Bukovel</h4>
          <p class="price-tour">From UAH 7,499/person</p>
          <button class="btn-tour">MORE DETAILS</button>
        </div>
      </li>
      <li class="iteam-upcoming">
        <picture>
          <source
            srcset="
              ./image/tours/Hoverla_desc@2x-min.jpg 1x,
              ./image/tours/Hoverla_desc-min.jpg    2x
            "
            media="(min-width: 1440px)" />
          <source
            srcset="
              ./image/tours/Hoverla_tab-min.jpg    1x,
              ./image/tours/Hoverla_tab@2x-min.jpg 2x
            "
            media="(min-width: 768px)" />
          <source
            srcset="
              ./image/tours/Hoverla_mob-min.jpg    1x,
              ./image/tours/Hoverla_mob@2x-min.jpg 2x
            "
            media="(max-width: 767px)" />
          <img
            class="img-tours"
            src="./image/tours/Hoverla_desc@2x-min.jpg"
            alt="Hoverla" />
        </picture>
        <div class="list-text-tour">
          <h4 class="tour-name">Ascent to Hoverla</h4>
          <p class="price-tour">From UAH 4,499/person</p>
          <button class="btn-tour">MORE DETAILS</button>
        </div>
      </li>
    </ul>
    <div class="pagination">
      <button class="btn-pag">
        <svg class="icon-pag" width="11" height="19">
          <use href="./icon/symbol-defs.svg#icon-left"></use>
        </svg>
      </button>
      <button class="btn-pag">
        <svg class="icon-pag" width="11" height="19">
          <use href="./icon/symbol-defs.svg#icon-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
